<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

		
	<!-- main function that loads personalRepresentatives.html -->
	<div ng-app="personalRepresentativesApp" ng-controller="prCtrl as ctrl">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

						<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representatives</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>Full Name</th>
										<th>MID</th>
									</tr>
								</thead>

								<!-- log entry for every row, ordered by date -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentatives">
										<td name="nameCell">{{pr.name}}</td>
										<td name="midCell">{{pr.id}}</td>
									</tr>
								</tbody>
							</table>
							
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addRepresentativeForm"
													ng-submit="addRepresentative(addRepresentativeForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>Name</label> <input type="text"
																class="form-control" name="representative" ng-model="representative.name"
																required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="submit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
												</div>
											</div>
										</div>
									</div>
									
						</div>
					</div>
				</div>
			</div>
		</div>
			
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

					<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representees</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>Full Name</th>
										<th>MID</th>
									</tr>
								</thead>

								<!-- log entry for every row, ordered by date -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentees">
										<td name="nameCell">{{pr.name}}</td>
										<td name="midCell">{{pr.id}}</td>
									</tr>
								</tbody>
							</table>
							
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Representee</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addRepresenteeForm"
													ng-submit="addRepresentee(addRepresenteeForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>Name</label> <input type="text"
																class="form-control" name="representee" ng-model="representee.name"
																required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="submit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAdding" id="errP">{{errorAdding}}</p>
												</div>
											</div>
										</div>
									</div>

						</div>
					</div>
				</div>
			</div>

		<script>
		
		var App = angular.module('personalRepresentativesApp',[]);
		
		angular.module("personalRepresentativesApp").controller('prCtrl', function($scope, $http, $filter) {
			var self = this;
			self.personalRepresentatives = [];
			self.personalRepresentees = [];
			self.requestParams = {patientId: ""};
			
			// Get Info about user
			$http = angular.injector(["ng"]).get("$http");
			$http.get("/iTrust2/api/v1/authentication").then(
					function(response) {
						self.requestParams.patientId = response.data.message;
						self.updateRepresentativeTable();
						self.updateRepresenteeTable();
					});
			
			self.updateRepresentativeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId).then(function (response) {
					self.personalRepresentatives = response.data;
				});	
			}
			
			
			self.updateRepresenteeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representees/" + self.requestParams.patientId).then(function (response) {
					self.personalRepresentees = response.data;
				});	
			}
			
	        $scope.addPersonalRepresentative = function () {
	              $http.post("/iTrust2/api/v1/patients/representatives/" + $scope.representative).then(
	                function (response) {
	                  self.updateRepresentativeTable();
	                  $scope.representative.name = "";
	                  $scope.errorAdding = "";
	                }, function (rejection) {
	                  $scope.errorAdding = "Could not add drug";
	                });
	         	}
		        
		        $scope.addPersonalRepresentee = function () {
		              $http.post("/iTrust2/api/v1/patients/representee/" + $scope.representee).then(
		                function (response) {
		                  self.updateRepresenteeTable();
		                  $scope.representee.name = "";
		                  $scope.errorAdding = "";
		                }, function (rejection) {
		                  $scope.errorAdding = "Could not add drug";
		                });
	         	}
		});
			
	</script>
	</div>
</div>
</html>