<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

		
	<!-- main function that loads personalRepresentatives.html -->
	<div ng-app="personalRepresentativesApp" ng-controller="prCtrl as ctrl">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

						<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representatives</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>		
										<th>MID</th>
									</tr>
								</thead>

								<!-- log entry for every row, ordered by date -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentatives">
										<td name="firstNameCell">{{pr.firstName}}</td>
										<td name="lastNameCell">{{pr.lastName}}</td>
										<td name="midCell">{{pr.self.username}}</td>
									</tr>
								</tbody>
							</table>
							
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading ">Add a Representative</div>
										<div class="panel-body">
											<form class="form-horizontal" role="form" name="addRepresentativeForm"
												ng-submit="addPersonalRepresentative(addRepresentativeForm.$valid)">
												<div class="row">
													<div class="col-md-4">
														<label>MID</label> <input type="text"
															class="form-control" name="addRepresentative" ng-model="addRepresentative.name"
															required />
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 text-right">
														<button type="submit" class="btn btn-success"
															name="submit">Submit</button>
													</div>
												</div>
											</form>
											<div>
												<p style="color: red" ng-model="errorAdding" id="errorAddingTive">{{errorAdding}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-heading ">Delete a Representative</div>
										<div class="panel-body">
											<form class="form-horizontal" role="form" name="deleteRepresentativeForm"
												ng-submit="deletePersonalRepresentative(deleteRepresentativeForm.$valid)">
												<div class="row">
													<div class="col-md-4">
														<label>MID</label> <input type="text"
															class="form-control" name="deleteRepresentative" ng-model="deleteRepresentative.name"
															required />
													</div>
												</div>
												<div class="row">
													<div class="col-md-12 text-right">
														<button type="submit" class="btn btn-success"
															name="submit">Submit</button>
													</div>
												</div>
											</form>
											<div>
												<p style="color: red" ng-model="errorDeletingTive" id="errorDeletingTive">{{errorDeletingTive}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
								
				</div>
			</div>
		</div>
			
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

					<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representees</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>MID</th>
									</tr>
								</thead>

								<!-- representee entry for every row, ordered by name -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentees">
										<td name="firstNameCell">{{pr.firstName}}</td>
										<td name="lastNameCell">{{pr.lastName}}</td>
										<td name="midCell">{{pr.self.username}}</td>
									</tr>
								</tbody>
							</table>
							
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Delete a Representee</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="deleteRepresenteeForm"
													ng-submit="deletePersonalRepresentee(deleteRepresenteeForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>MID</label> <input type="text"
																class="form-control" name="representee" ng-model="representee.name"
																required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="submit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorDeletingTee" id="errorDeletingTee">{{errorDeletingTee}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			

		<script>
		
		var App = angular.module('personalRepresentativesApp',[]);
		
		angular.module("personalRepresentativesApp").controller('prCtrl', function($scope, $http, $filter) {
			var self = this;
			self.personalRepresentatives = [];
			self.personalRepresentees = [];
			self.requestParams = {patientId: ""};
			
			// Get Info about user
			$http = angular.injector(["ng"]).get("$http");
			$http.get("/iTrust2/api/v1/authentication").then(
					function(response) {
						self.requestParams.patientId = response.data.message;
						$scope.updateRepresentativeTable();
						$scope.updateRepresenteeTable();
					});
			
			$scope.updateRepresentativeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId).then(function (response) {
					self.personalRepresentatives = response.data;
				});	
			}
			
			
			$scope.updateRepresenteeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representees/" + self.requestParams.patientId).then(function (response) {
					self.personalRepresentees = response.data;
				});	
			}
			
	        $scope.addPersonalRepresentative = function () {
             	$http({
             		method: 'POST',
             		url: "/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId,
             		data: "{" + $scope.addRepresentative.name + "}",
             		headers: {
             			'Content-Type': 'application/json'
             		}
           		})
           		.then(function (response) {
        			$scope.updateRepresentativeTable();
                  	$scope.representative.name = "";
                  	$scope.errorAdding = "";
                }, function (rejection) {
                  	$scope.errorAdding = "Could not add representative";
                });
	        }
	        
	        $scope.deletePersonalRepresentative = function () {
             	$http({
             		method: 'DELETE',
             		url: "/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId,
             		data: "{" + $scope.deleteRepresentative.name + "}",
             		headers: {
             			'Content-Type': 'application/json'
             		}
           		})
           		.then(function (response) {
        			$scope.updateRepresentativeTable();
                  	$scope.representative.name = "";
                  	$scope.errorDeleting = "";
                }, function (rejection) {
                  	$scope.errorDeletingTive = "Could not delete representative";
                });
         	}
	        
	        $scope.deletePersonalRepresentee = function () {
             	$http({
             		method: 'DELETE',
             		url: "/iTrust2/api/v1/patients/representatives/" +  $scope.representee.name,
             		data: "{" + self.requestParams.patientId + "}",
             		headers: {
             			'Content-Type': 'application/json'
             		}
           		})
				.then(function (response) {
					$scope.updateRepresenteeTable();
                  	$scope.representee.name = "";
                	$scope.errorDeleting = "";
                }, function (rejection) {
                  	$scope.errorDeletingTee = "Could not delete representee";
                });
         	}
		});
			
	</script>
	</div>
</div>
</html>