<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Emergency Records</title>
  </head>

  <body th:include="layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">

      <!-- main function that loads logView.html -->
      <div ng-app="recApp" ng-controller="recsCtrl as ctrl">
	<div class="container">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="panel panel-primary">

		<!-- log entry header -->
		<div class="panel-heading">
		  <h3>Emergency Health Records</h3>
		</div>
		<div class="panel-body">
		  <table class="table table-bordered">
		    <!-- table column headers -->
		    <thead>
		      <tr>
			<th>Patient Name</th>
			<th>Patient Last Name</th>
			<th>Gender</th>
			<th>Blood Type</th>
			<th>Date of Birth</th>
			<th>ID</th>
			<th>City</th>
			<th>Ethnicity</th>
			<th>Phone</th>
			<th>Preferred Name</th>
		      </tr>
		    </thead>

		    <!-- log entry for every row, ordered by date -->
		    <tbody>
		      <tr name="logTableRow" ng-repeat="d in ctrl.data">
			<td name="nameCell">{{d.firstName}}</td>
			<td name="nameCell">{{d.lastName}}</td>
			<td name="nameCell">{{d.gender}}</td>
			<td name="nameCell">{{d.bloodType}}</td>
			<td name="nameCell">{{d.dateOfBirth}}</td>
			<td name="nameCell">{{d.id}}</td>
			<td name="nameCell">{{d.city}}</td>
			<td name="nameCell">{{d.ethnicity}}</td>
			<td name="nameCell">{{d.phone}}</td>
			<td name="nameCell">{{d.preferredName}}</td>
		      </tr>
		    </tbody>
		  </table>
		  <br>
		  <!-- container for searching transactions -->
		  <div class="row">
		    <div class="col-md-12">
		      <div class="panel panel-default">
			<div class="panel-heading ">Find patient by name:</div>
			<div class="panel-body">
			  <form class="form-horizontal" role="form" name="viewRecForm"
				ng-submit="ctrl.searchByName()">
			    <br>

			    <!-- row that contains all interactive fields -->
			    <div class="row">

			      <!-- start date -->
			      <div class="col-md-5">
				<label>Name</label>
				<div class="row">
				  <div class="col-md-7">
				    <input type="text" class="form-control"
					   placeholder="Enter Name" name="searchName"
					   ng-model="ctrl.searchname"
					   required />
				  </div>
				</div>
			      </div>

			      <!-- submit button -->
			      <div class="col-md-2">
				<label>Submit:</label>
				<div class="row">
				  <div class="col-md-4">
				    <button type="submit" class="btn btn-success"
					    name="submit">Search</button>
				  </div>
				</div>
			      </div>
			      
			    </div>			    
			  </form>
			  <br/>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		
		var App = angular.module('recApp',[]);
		
		angular.module("recApp").controller('recsCtrl', function($scope, $http, $filter) {
			var self = this;
		        self.data = "";
			self.searchname = "";
						
			$scope.loadTable = function() {
				$http.get("/iTrust2/api/v1/patients").then(function(response) {
					self.data = response.data;
					$scope.message = "Succ";
				}, function(rejection) {
					self.data = "";
					$scope.message = "Could not display Emergency Health Records";
				});
		        }

		    $scope.loadTable();
			
		self.searchByName = function() {
				$http.get("/iTrust2/api/v1/patients/" + self.searchname).then(function(response) {
					self.data = response.data;
					$scope.message = "";
				},
				function(rejection) {
					self.data = "";
					$scope.errorGetting = "Could not find patient";
				});
		    }		    

		});
	</script>
      </div>
    </div>
  </body>
</html>
