<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Emergency Records</title>
  </head>

  <body th:include="layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">

      <!-- main function that loads logView.html -->
      <div ng-app="recApp" ng-controller="recsCtrl as ctrl">
	<div class="container">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="panel panel-primary">

		<!-- log entry header -->
		<div class="panel-heading">
		  <h3>Emergency Health Records</h3>
		</div>
		<div class="panel-body">
		  <!-- container for searching transactions -->
		  <div class="row">
		    <div class="col-md-12">
		      <div class="panel panel-default">
			<div class="panel-heading ">Find patient by name:</div>
			<div class="panel-body">
			  <form class="form-horizontal" role="form" name="viewRecForm"
				ng-submit="searchByName()">
			    <br>

			    <!-- row that contains all interactive fields -->
			    <div class="row">

			      <!-- start date -->
			      <div class="col-md-5">
				<label>Name</label>
				<div class="row">
				  <div class="col-md-7">
				    <input type="text" class="form-control"
					   placeholder="Enter Name" name="searchName"
					   ng-model="searchname"
					   required />
				  </div>
				</div>
			      </div>

			      <!-- submit button -->
			      <div class="col-md-2">
				<label>Submit:</label>
				<div class="row">
				  <div class="col-md-4">
				    <button type="submit" class="btn btn-success"
					    name="submit">Search</button>
				  </div>
				</div>
			      </div>
			      
			    </div>			    
			  </form>
			  <br/>
			</div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Section to display the health records of the patient searched -->
		<div class="row">
		  <div class="col-md-12">
		    <div class="panel panel-default">
		      <div class="panel-heading ">Emergency Health Records</div>
		      <div class="panel-body">

			<div class="col-md-5">
			  <label>Name: </label>
			  <p name="patientName">{{data.firstName}} {{data.lastName}}</p>
			</div>

			<div class="col-md-5">
			  <label>Age: </label>
			  <p name="patientAge">{{data.age}}</p>
			</div>

			<div class="col-md-5">
			  <label>Date Of Birth: </label>
			  <p name="patientDOB">{{data.dateOfBirth}}</p>
			</div>

			<div class="col-md-5">
			  <label>Gender: </label>
			  <p name="patientGender">{{data.gender}}</p>
			</div>

			<div class="col-md-5">
			  <label>Blood Type: </label>
			  <p name="patientBlood">{{data.bloodType}}</p>
			</div>

			<div class="col-md-5">
			  <table class="table table-bordered">
			    <!-- table column headers -->
			    <thead>
			      <tr>
				<th>Diagnosis Code</th>
				<th>Description</th>
			      </tr>
			    </thead>

			    <!-- log entry for every row, ordered by date -->
			    <tbody>
			      <tr name="diagTableRow" ng-repeat="d in data.diagnoses">
				<td name="diagCell">{{d.code.code}}</td>
				<td name="diagCell">{{d.code.description}}</td>
			      </tr>
			    </tbody>
			  </table>
			  <br>
			</div>

			<div class="col-md-5">
			  <table class="table table-bordered">
			    <!-- table column headers -->
			    <thead>
			      <tr>
				<th>Prescription Name</th>
				<th>Drug Code</th>
				<th>Drug Name</th>
				<th>Drug Description</th>
				<th>Dosage</th>
				<th>Renewels</th>
				<th>Username</th>
			      </tr>
			    </thead>

			    <!-- log entry for every row, ordered by date -->
			    <tbody>
			      <tr name="preTableRow" ng-repeat="p in data.prescriptions">
				<td name="preCell">{{p.id}}</td>
				<td name="preCell">{{p.drug.code}}</td>
				<td name="preCell">{{p.drug.name}}</td>
				<td name="preCell">{{p.drug.description}}</td>
				<td name="preCell">{{p.dosage}}</td>
				<td name="preCell">{{p.renewals}}</td>
				<td name="preCell">{{p.patient.username}}</td>
			      </tr>
			    </tbody>
			  </table>
			  <br>
			</div>
			
		      </div>
		    </div>
		  </div>
		</div>
		<!-- end records -->
		
	      </div>
	    </div>
	  </div>
	</div>

	<script>
		
		var App = angular.module('recApp',[]);
		
		angular.module("recApp").controller('recsCtrl', function($scope, $http, $filter) {
			var self = this;
		        $scope.data = "";
		        $scope.searchname = "";
						
			$scope.loadTable = function() {
				$http.get("/iTrust2/api/v1/patients").then(function(response) {
					$scope.data = response.data;
					$scope.message = "Succ";
				}, function(rejection) {
					$scope.data = "";
					$scope.message = "Could not display Emergency Health Records";
				});
		        }

		    $scope.loadTable();
			
		$scope.searchByName = function() {
				$http.get("/iTrust2/api/v1/patients/" + $scope.searchname).then(function(response) {
		                        $scope.data = response.data;
		                        var date = $scope.data.dateOfBirth;
		                        $scope.data.dateOfBirth = date.month + "/" + date.dayOfMonth + "/" + date.year;

		                        $scope.message = "";
				},
				function(rejection) {
					$scope.data = "";
					$scope.errorGetting = "Could not find patient";
		                });
		                $http.get("/iTrust2/api/v1/prescriptions/patient/" + $scope.searchname).then(function(response) {
					$scope.data.prescriptions = response.data;
		                        $scope.message = "";
				},
				function(rejection) {
					$scope.data.prescriptions = "";
					$scope.errorGetting = "Could not find patient";
				});

				$http.get("/iTrust2/api/v1/diagnosis/patient/" + $scope.searchname).then(function(response) {
					$scope.data.diagnoses = response.data;
		                        $scope.message = "";
				},
				function(rejection) {
					$scope.data.diagnoses = "";
					$scope.errorGetting = "Could not find patient";
        	                });
		}		

		});
	</script>
      </div>
    </div>
  </body>
</html>
