<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<th:block th:replace="${links}" />

</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">
		
	<!-- main function that loads personalRepresentatives.html -->
	<div ng-app="personalRepresentativesApp" ng-controller="prCtrl as ctrl">
		
		<!-- Patient Search used from editPatientDemographics for HCP  -->
		<div style="float:left;width:30%;height:75%;overflow-y:auto">
			<h2>Patients:</h2>
			<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
			<h4>Search: <input type="text" name="search" ng-model="searchFilter"/></h4>
			<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
			<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
			<ul style="overflow:auto;height=90%;">
			<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
							<li ng-repeat="patient in patients | filter:filterPatients"><h4><label>
									<input type="radio" ng-model="$parent.selectedPatient"
									name="patient" value="{{patient.self.username}}"
									ng-click='$parent.selectPatient(patient)' />&nbsp;{{$parent.displayName(patient)}}</label>
							</h4></li>
						</ul>
		</div>
		<div class="container" style="float:left;width:70%;border-left:1px solid #bbb;padding-left: 3%;height:75%;overflow-y:auto">
			<div class="container">
				<div class="row">
					<div class="col-md-12" >
						<div class="panel panel-primary">
	
							<!-- personal representatives header -->
							<div class="panel-heading">
								<h3>Personal Representatives</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
	
									<!-- table column headers -->
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>		
											<th>MID</th>
										</tr>
									</thead>
	
									<!-- representative for every row, ordered by name -->
									<tbody>
										<tr name="tiveRow" ng-repeat="tiver in ctrl.personalRepresentatives">
											<td name="representativeFirstNameCell">{{tiver.firstName}}</td>
											<td name="representativeLastNameCell">{{tiver.lastName}}</td>
											<td name="representativeMidCell">{{tiver.self.username}}</td>
										</tr>
									</tbody>
								</table>
								
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Representative</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addRepresentativeForm"
													ng-submit="addPersonalRepresentative(addRepresentativeForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>MID</label> <input type="text"
																class="form-control" name="representative" ng-model="representative.name"
																required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="representativeSubmit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAddingTive" id="errorAddingTive">{{errorAddingTive}}</p>
												</div>
											</div>
										</div>
									</div>
		
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
	
						<!-- Personal Representees header -->
							<div class="panel-heading">
								<h3>Personal Representees</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered">
	
									<!-- table column headers -->
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>		
											<th>MID</th>
										</tr>
									</thead>
	
									<!-- representee for every row, ordered by name -->
									<tbody>
										<tr name="teeRow" ng-repeat="teer in ctrl.personalRepresentees">
											<td name="representeeFirstNameCell">{{teer.firstName}}</td>
											<td name="representeeLastNameCell">{{teer.lastName}}</td>
											<td name="representeeMidCell">{{teer.self.username}}</td>
										</tr>
									</tbody>
								</table>
								
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading ">Add a Representee</div>
											<div class="panel-body">
												<form class="form-horizontal" role="form" name="addRepresenteeForm"
													ng-submit="addPersonalRepresentee(addRepresenteeForm.$valid)">
													<div class="row">
														<div class="col-md-4">
															<label>Name</label> <input type="text"
																class="form-control" name="representee" ng-model="representee.name"
																required />
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 text-right">
															<button type="submit" class="btn btn-success"
																name="representeeSubmit">Submit</button>
														</div>
													</div>
												</form>
												<div>
													<p style="color: red" ng-model="errorAddingTee" id="errorAddingTee">{{errorAddingTee}}</p>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
		
		var App = angular.module('personalRepresentativesApp',[]);
		
		angular.module("personalRepresentativesApp").controller('prCtrl', function($scope, $http, $filter) {
			var self = this;
			$scope.personalRepresentatives = [];
			$scope.personalRepresentees = [];
			self.requestParams = {patientId: ""};

			$scope.displayName = function(p) {
				return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
			}
			
			// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
			$scope.searchFilter = "";
			$scope.filterPatients = function(patient) {
				return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
			}

			$scope.selectPatient = function(patient, override) {
				self.requestParams.patientId = patient.self.username;
				$scope.updateRepresentativeTable();
				$scope.updateRepresenteeTable();
			}
			
			$http.get("/iTrust2/api/v1/patients").then(
					function(response) {
						$scope.patients = response.data;
					});
			
			$scope.updateRepresentativeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId).then(function (response) {
					$scope.personalRepresentatives = response.data;
				});	
			}
			
			
			$scope.updateRepresenteeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representees/" + self.requestParams.patientId).then(function (response) {
					$scope.personalRepresentees = response.data;
				});	
			}
			
	        $scope.addPersonalRepresentative = function () {
             	$http({
             		method: 'POST',
             		url: "/iTrust2/api/v1/patients/representatives/" + self.requestParams.patientId,
             		data: "{" + $scope.representative.name + "}",
             		headers: {
             			'Content-Type': 'application/json'
             		}
           		})
           		.then(function (response) {
           			$scope.personalRepresentatives = response.data;
                  	$scope.representative.name = "";
                  	$scope.errorAddingTive = "";
                }, function (rejection) {
                  	$scope.errorAddingTive = "Could not add representative";
                });
         	}
	        
	        $scope.addPersonalRepresentee = function () {
             	$http({
             		method: 'POST',
             		url: "/iTrust2/api/v1/patients/representees/" + self.requestParams.patientId,
             		data: "{" + $scope.representee.name + "}",
             		headers: {
             			'Content-Type': 'application/json'
             		}
           		})
				.then(function (response) {
					$scope.personalRepresentees = response.data;
                	$scope.representee.name = "";
                  	$scope.errorAddingTee = "";
                }, function (rejection) {
               	 	$scope.errorAddingTee = "Could not add representee";
                });
         	}
		});
			
	</script>
	</div>
</div>
</html>