<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Personal Representatives</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
<div th:fragment="content">
		
	<!-- main function that loads personalRepresentatives.html -->
	<div ng-app="personalRepresentativesApp" ng-controller="prCtrl as ctrl">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

						<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representatives</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>Full Name</th>
										<th>MID</th>
									</tr>
								</thead>

								<!-- log entry for every row, ordered by date -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentatives">
										<td name="nameCell">{{pr.name}}</td>
										<td name="midCell">{{pr.id}}</td>
									</tr>
								</tbody>
							</table>
									
							<div class="row" style="width: 300px; margin: 0 auto;">
								<button class="btn btn-success" style="float:left;"
									ng-click="ctrl.prevPageTive()">Previous</button>
								<button class="btn btn-success" style="float:right"
									ng-click="ctrl.nextPageTive()">Next</button>
								<p style="margin: 10 auto; width: 100px; text-align:center;"
									ng-bind="ctrl.tivePageString">Page: 1</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">

					<!-- log entry header -->
						<div class="panel-heading">
							<h3>Personal Representees</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">

								<!-- table column headers -->
								<thead>
									<tr>
										<th>Full Name</th>
										<th>MID</th>
									</tr>
								</thead>

								<!-- log entry for every row, ordered by date -->
								<tbody>
									<tr name="prRow" ng-repeat="pr in ctrl.personalRepresentees">
										<td name="nameCell">{{pr.name}}</td>
										<td name="midCell">{{pr.id}}</td>
									</tr>
								</tbody>
							</table>

						
							<div class="row" style="width: 300px; margin: 0 auto;">
								<button class="btn btn-success" style="float:left;"
									ng-click="ctrl.prevPageTeee()">Previous</button>
								<button class="btn btn-success" style="float:right"
									ng-click="ctrl.nextPageTee()">Next</button>
								<p style="margin: 10 auto; width: 100px; text-align:center;"
									ng-bind="ctrl.teePageString">Page: 1</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<script>
		
		var App = angular.module('personalRepresentativesApp',[]);
		
		angular.module("personalRepresentativesApp").controller('prCtrl', function($scope, $http, $filter) {
			var self = this;
			self.personalRepresentatives = [];
			self.personalRepresentees = [];
			self.tiveNumPages = 1;
			self.teeNumPages = 1;
			self.tiveRequestParams = {patientId: "", page: 1, pageLength: 10};
			self.teeRequestParams = {patientId: "", page: 1, pageLength: 10};
			self.tivePageString = "Page: 1";
			self.teePageString = "Page: 1";
			
			// HCP defines user through a textbox?
			// GET PATIENT ID
			
			self.updateRepresentativeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representatives/", self.requestParams.patientId).then(function (response) {
					self.personalRepresentatives = response.data;
					if(self.personalRepresentatives.length > 0){
						self.tiveNumPages = self.personalRepresentatives[0].numPages;
					}else{
						self.tiveNumPages = 1;
					}
					self.updatePageStringTive();
				});	
			}
			
			self.updatePageStringTive = function(){
				self.tivePageString = "Page: " + self.tiveRequestParams.page + " of " + self.tiveNumPages;
			}
			
			self.nextPageTive = function(){
				if(self.tiveRequestParams.page >= self.tiveNumPages) return;
				self.tiveRequestParams.page++;
				
				self.updateRepresentativeTable();
			}
			
			self.prevPageTive = function(){
				if(self.tiveRequestParams.page <= 1) return;
				self.tiveRequestParams.page--;
				
				self.updateRepresentativeTable();
			}
			
			self.updateRepresenteeTable = function(){
				$http.get("/iTrust2/api/v1/patients/representees/", self.requestParams.patientId).then(function (response) {
					self.personalRepresentees = response.data;
					if(self.personalRepresentees.length > 0){
						self.teeNumPages = self.personalRepresentees[0].numPages;
					}else{
						self.teeNumPages = 1;
					}
					self.updatePageStringTee();
				});	
			}
			
			self.updatePageStringTee = function(){
				self.teePageString = "Page: " + self.teeRequestParams.page + " of " + self.teeNumPages;
			}
			
			self.nextPageTee = function(){
				if(self.teeRequestParams.page >= self.teeNumPages) return;
				self.teeRequestParams.page++;
				
				self.updateRepresenteeTable();
			}
			
			self.prevPageTee = function(){
				if(self.teeRequestParams.page <= 1) return;
				self.teeRequestParams.page--;
				
				self.updateRepresenteeTable();
			}
		});
			
	</script>
	</div>
</div>
</html>