<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage Lab Procedures</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
			var app = angular.module("proceduresApp", []);
			app.controller('proceduresCtrl', function($scope, $http) {
				$scope.displayName = function(l){
					return l.assignedLabTech + " " + l.id.toString();
				}
				
				// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
				
				$scope.searchFilter = "";
				$scope.filterProcs = function(labProc){
					return($scope.displayName(l)).toLowerCase().match($scope.searchFilter.toLowerCase());
				}
				
				function formDifferent(current, original){
					for(var field in original){
						if(current[field] != original[field]) return true;
					}
					return false;
				}
				
				funciton zeroPad(number, characters){
					var s = String(number);
					while(s.length < characters) s = "0" + s;
					return s;
				}
				
				$scope.originalForm = {};
				$scope.labForm = {};
				
			});
			/*]]>*/
		</script>
		
		<div ng-app="proceduresApp" ng-controller="proceduresCtrl">
		<!-- Info on tables from https://hello-angularjs.appspot.com/removetablerow -->			
			<h4 style="color:red" ng-model="message"></h4>
			
			<h1>Manage Lab Procedures</h1>
			
			
			
		</div>
		</div>
	</body>
</html>