<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Manage Lab Procedures</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
		/*<![CDATA[*/
			var app = angular.module("proceduresApp", []);
			app.controller('proceduresCtrl', function($scope, $http) {
				$scope.displayName = function(l){
					return l.assignedLabTech + " " + l.id.toString();
				}
				
				// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
				
				$scope.searchFilter = "";
				$scope.filterProcs = function(labProc){
					return($scope.displayName(labProc)).toLowerCase().match($scope.searchFilter.toLowerCase());
				}
				
				function formDifferent(current, original){
					for(var field in original){
						if(current[field] != original[field]) return true;
					}
					return false;
				}
				
				function zeroPad(number, characters){
					var s = String(number);
					while(s.length < characters) s = "0" + s;
					return s;
				}
				
				$scope.originalForm = {};
				$scope.labForm = {};
				$scope.selectedProcedureID = null;
				$scope.selectedProcedure = {};
				
				function markStarted(){
					$scope.selectedProcedure.started = true;
				}
				
				function markComplete(){
					$scope.selectedProcedure.complete = true;
				}
				
				$http.get("/iTrust2/api/v1/labprocedures")
	              .then(function (response) {
	                $scope.labprocedures = response.data;
	              });
				
			});
			/*]]>*/
		</script>
		
		<div ng-app="proceduresApp" ng-controller="proceduresCtrl">
		<!-- Info on tables from https://hello-angularjs.appspot.com/removetablerow -->			
			<h4 style="color:red" ng-model="message"></h4>
			
			<h1>Manage Lab Procedures</h1>
			<table style="width:100%">
				<tr>
					<td style="vertical-align: top">
						<table class="table">
							<tr>
								<th>Lab Procedure Select</th>
								<th>Lab Procedure Code</th>
								<th>Notes</th>
								<th>Status</th>
							</tr>
							<tr name="procedureRow" ng-repeat="p in labprocedures">
								<td> <input name="selectProcedure" type="radio"/></td>
								<td name="selectedCell"> {{p.code}}</td>
								<td name="status">{{p.status}}</td>
							</tr>
						</table>
					</td>
					<td style="width:35%;vertical-align: top">
						<div style="padding: 10px 10px 30px 20px">
							<h3>Add Notes</h3>
						</div>
						<div class="form-group" style="padding-left:30px">
							<label>Notes:</label>
							<textarea class="form-control" rows="5" name="notes" ng-model="procedure.notes" required ng-minlength="1"></textarea>
							<br />
							<button class="btn btn-primary" name="submit">Add Note</button>
						</div>
							
						<div class="form-group" style="padding-left:30px">								
							<div>
								<button class="btn btn-primary" name="started" ng-click="markStarted()">Mark Started</button>
								<button class="btn btn-primary" name="complete" ng-click="markComplete()">Mark Complete</button>
							</div>
						</div>
						<div class="form-group" style="padding-left:30px">								
							<div>
								<label>Assign to:</label>
								<table>
									<tr name="assignTechRow" ng-repeat="l in labtechs">
										<td> <input name="selectLabTech" type="radio"/>{{l.firstName}} {{l.lastName}}</td>
									</tr>
								</table>
								<button class="btn btn-primary" name="complete" ng-click="assignLabTech()">Assign</button>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</body>
</html>